/*

Styles for RaspberryPi Brasil.

 */

@charset "utf-8";

@font-face {
    font-family: "Kreon";
    src: url("/static/Kreon-Medium.ttf") format("truetype");
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.2em;
    background: #FFBF61;
    margin: 0;
    line-height: 1.2em;
}

a {
    color: #1b8dc1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: .5em;
}

figcaption {
    text-align: center;
}

header {
    padding: 2em;
    line-height: 1.4em;
    background: #EC8A17;
}

header h1 {
    font-family: courier, monospace;
}

header img {
    float: right;
}

header img:after {
    float: none;
}

nav ul {
    padding: 0;
    margin: 0
}

nav ul:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
}

nav ul li {
    display: inline-block;
    float: left;
    margin-right: 4px;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background: #bc2109;
    color: #ddd;
}

nav ul li a:hover {
    text-decoration: none;
    background: #e8e812;
    color: #000
}

blockquote {
    background: #fee;
    border-left: 5px solid #f55;
    padding: .5em 1em;
    font-size: 1.1em;
    line-height: 1.2em;
}

pre.qrcode {
    line-height: 1em;
}

section#main {
    background: #fcf2de;
    line-height: 1.5em;
    margin: 0;
    padding: 3em 2em;
}

section#main h1, section#main h2, section#main h3 {
    font-family: "Kreon", "Helvetica", "Arial", sans-serif;
}

section#main img {
    display: block;
    text-align: center;
}

pre {
    width: 90%;
    background: #333;
    padding: 1em;
    line-height: 1.5em;
    color: #fff;
    border-radius: 10px;
    overflow-x: auto;
}

/* inline code, unlike the preformatted MD one. */
p code {
    color: magenta;
    background: #fff;
}

section#main img {
    max-width: 95%;
    border: 4px solid white;
    border-radius: 5px;
    display: block;
    margin: auto;
}

section.article {
    border-bottom: 2px solid #4D1C00;
}

/* small screens and mobiles  */
@media screen and (max-width: 500px) {
    body {
        font-size: 1em;
        line-height: 1.1em;
    }
    header img {
        float: none;
        display: block;
        margin: auto;
    }

    blockquote {
        font-size: 1em;
        line-height: 1em;
        margin: 0;
    }

    section#main {
        padding: 2em 1em;
    }

    section#main img {
        width: 100%;
    }
}

/* large, fullscreen browsers */
@media screen and (min-width: 910px) {
    section#main {
        width: 900px;
        margin: auto;
    }
}

footer {
    text-align: center;
    padding: 4em 2em;
    background: #EC8A17;
}
